.block {
  width: 100px;
  height: 100px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__one {
  width: 50px;
  height: 50px;
}

.block__one--black {
  background: black;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
}

.rotation {
  animation: rotation 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
